<%- include header %>

<body style="background:#F7F7F7;">

<div class="">
    <a class="hiddenanchor" id="toregister"></a>
    <a class="hiddenanchor" id="tologin"></a>

    <div id="wrapper">
        <div id="login" class="animate form">
            <section class="login_content">
                <form method="post" action="/login/in">
                    <h1>Login Form</h1>
                    <% if(loginError){ %>
                    <div style="color:red">
                        <%= loginError %>
                    </div>
                    <br/>
                    <% } %>
                    <div>
                        <input type="text" class="form-control" placeholder="Username" required="" name="loginName"/>
                    </div>
                    <div>
                        <input type="password" class="form-control" placeholder="Password" required=""
                               name="loginPassword"/>
                    </div>
                    <div>
                        <input class="btn btn-default" type="submit" value="Log in"/>
                        <!--<a class="btn btn-default submit" href="index.html">Log in</a>-->
                        <a class="reset_pass" href="#">Lost your password?</a>
                    </div>
                    <div class="clearfix"></div>
                    <div class="separator">

                        <p class="change_link">New to site?
                            <a href="#toregister" class="to_register" id="createAccount"> Create Account </a>
                        </p>

                        <div class="clearfix"></div>
                        <br/>

                        <div>
                            <h1><i class="fa fa-paw" style="font-size: 26px;"></i>SCM</h1>

                            <p>Internal Management Tool</p>
                        </div>
                    </div>
                </form>
                <!-- form -->
            </section>
            <!-- content -->
        </div>
        <div id="register" class="animate form">
            <section class="login_content">
                <form method="post" action="/login/reg">
                    <h1>Create Account</h1>
                    <% if(regError){ %>
                    <div style="color:red">
                        <%= regError %>
                    </div>
                    <br/>
                    <% } %>
                    <div>
                        <input type="text" class="form-control" placeholder="Username" required="" name="name"/>
                    </div>
                    <div>
                        <input type="email" class="form-control" placeholder="Email" required="" name="email"/>
                    </div>
                    <div>
                        <input type="password" class="form-control" placeholder="Password" required="" name="password"/>
                    </div>
                    <div>
                        <input type="password" class="form-control" placeholder="Repeat Password" required=""
                               name="password-repeat"/>
                    </div>
                    <div style="text-align:center">
                        <input class="btn btn-default" type="submit" value="Submit"/>
                    </div>
                    <div class="clearfix"></div>
                    <div class="separator">

                        <p class="change_link">Already a member ?
                            <a href="#tologin" class="to_register"> Log in </a>
                        </p>

                        <div class="clearfix"></div>
                        <br/>

                        <div>
                            <h1><i class="fa fa-paw" style="font-size: 26px;"></i>SCM</h1>

                            <p>Internal Management Tool</p>
                        </div>
                    </div>
                </form>
                <!-- form -->
            </section>
            <!-- content -->
        </div>
    </div>
</div>

<%- include footer %>
<script>
    <% if (regError) { %>
    $(function(){
        window.location.hash = '#toregister';
    });
    <% } %>
</script>