<div class="row" style="padding-top:5px" >
    <div class="col-md-2">
        <div class="x_panel">
            <div class="x_title">
                <h2>Friends</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <div class="">
                    <ul class="to_do" style="padding-bottom:10px;height:410px; overflow: auto">
                        <li>
                            <p>
                                <i class="fa fa-weixin"></i> Krazy </p>
                        </li>
                        <li>
                            <p>
                                <i class="fa fa-weixin"></i> Krazy </p>
                        </li>
                        <li>
                            <p>
                                <i class="fa fa-weixin"></i> Krazy </p>
                        </li>
                        <li>
                            <p>
                                <i class="fa fa-weixin"></i> Krazy </p>
                        </li>
                        <li>
                            <p>
                                <i class="fa fa-weixin"></i> Krazy </p>
                        </li>
                        <li>
                            <p>
                                <i class="fa fa-weixin"></i> Krazy </p>
                        </li>
                        <li>
                            <p>
                                <i class="fa fa-weixin"></i> Krazy </p>
                        </li>
                        <li>
                            <p>
                                <i class="fa fa-weixin"></i> Krazy </p>
                        </li>
                        <li>
                            <p>
                                <i class="fa fa-weixin"></i> Krazy </p>
                        </li>
                        <li>
                            <p>
                                <i class="fa fa-weixin"></i> Krazy </p>
                        </li>
                        <li>
                            <p>
                                <i class="fa fa-weixin"></i> Krazy </p>
                        </li>
                        <li>
                            <p>
                                <i class="fa fa-weixin"></i> Krazy </p>
                        </li>
                        <li>
                            <p>
                                <i class="fa fa-weixin"></i> Krazy </p>
                        </li>
                        <li>
                            <p>
                                <i class="fa fa-weixin"></i> Krazy </p>
                        </li>
                        <li>
                            <p>
                                <i class="fa fa-weixin"></i> Krazy </p>
                        </li>
                        <li>
                            <p>
                                <i class="fa fa-weixin"></i> Krazy </p>
                        </li>
                        <li>
                            <p>
                                <i class="fa fa-weixin"></i> Krazy </p>
                        </li>
                        <li>
                            <p>
                                <i class="fa fa-weixin"></i> Krazy </p>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

    </div>
    <div class="col-sm-10" >
        <div class="x_panel" >
            <div class="x_title">
                <h2>Message</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content"  style="padding-bottom:10px;height:425px; overflow: auto">
                <ul class="mes pages">
                    <li class="chat page">
                        <div class="chatArea">
                            <ul class="messages"></ul>
                        </div>
                        <input  id="chatSend" class="inputMessage" placeholder="Type here..." />
                    </li>
                </ul>
            </div>
         </div>
    </div>
</div>
<!--<div class="col-md-12 col-sm-12 col-xs-12" style="padding-bottom:10px;height:450px;">-->
<!--<ul class="mes pages">-->
    <!--<li class="chat page">-->
        <!--<div class="chatArea">-->
            <!--<ul class="messages"></ul>-->
        <!--</div>-->
        <!--<input  id="chatSend" class="inputMessage" placeholder="Type here..." />-->
    <!--</li>-->
<!--</ul>-->
<!--</div>-->

<script src="/javascripts/chat.js"></script>

<script>
//    var socket = io.connect('http://localhost:3000');
//    socket.on('chat message', function(msg){
//        var $messageBodyDiv = $('<span class="messageBody">')
//                .text(msg);
//        var $messageDiv = $('<li class="message"/>')
//                .append( $messageBodyDiv);
//        $('.messages').append($messageDiv);
//        $('.messages')[0].scrollTop =$('.messages')[0].scrollHeight;
//    });

//    function sendMesssage(event){
//        if (event.which === 13) {
//            socket.emit('chat message', $('#m').val());
//            $('#m').val('');
//        }
//    }
// Keyboard events


</script>
